/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.blog-list-page .markdown:after {
  content: "…………";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ifm-heading-color) !important;
  font-weight: var(--ifm-heading-font-weight) !important;
}

body {
  font: var(--ifm-font-size-base) / var(--ifm-line-height-base)
    var(--ifm-font-family-base) !important;
}

article a,
nav.pagination-nav a {
  color: var(--ifm-link-color) !important;
  text-decoration: var(--ifm-link-decoration) !important;
  transition: color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default) !important;
}

.alert a {
  color: var(--ifm-alert-color) !important;
  text-decoration: underline !important;
}
